<div id="fb-root"></div>
<script type="text/javascript" href="https://raw.github.com/diulama/js-facebook-signed-request/master/fb_signed_request.js"></script>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '213223128832848',                        // App ID from the app dashboard
      channelUrl : '//www.radiant-island-4482.herokuapp.com/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
    $(document).trigger('fbload');
  
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


  $(document).on('fbload',  //  <---- HERE'S OUR CUSTOM EVENT BEING LISTENED FOR
    function(){
      $.ajaxSetup({ cache: true });
      $.getScript('//connect.facebook.net/en_UK/all.js', function(){
        // FB.init({
        //   appId: '213223128832848',
        //   channelUrl: '//www.radiant-island-4482.herokuapp.com/channel.html',
        // });     
        $('#loginbutton,#feedbutton').removeAttr('disabled');
        
        $("#getStarted").on('click', function() {
          FB.login(function(response){
            if (response.authResponse) {
             console.log('Welcome!  Fetching your information.... ');
           } else {
             console.log('User cancelled login or did not fully authorize.');
           }
          }, {scope: 'email,user_likes,read_stream, publish_stream'}  );
        });

        $("#logOut").on('click', function() {
          FB.logout(function(response){
              alert('Logged out');
            });
        });

        FB.getLoginStatus(function(response) {
           $('#status').html("Login status: " + response.status );
            if (response.status === 'connected') {
              console.log('app connected');

              connecter=true;

              // the user is logged in and has authenticated your
              // app, and response.authResponse supplies
              // the user's ID, a valid access token, a signed
              // request, and the time the access token 
              // and signed request each expire
              var uid = response.authResponse.userID;
              var accessToken = response.authResponse.accessToken;
              var expiresIn = response.authResponse.expiresIn;
              var signedRequest = response.authResponse.signedRequest;
              $('#user').html('user id:' + uid);
              $('#user').append('<br/> access token: ' + accessToken);
              $('#user').append('<br/> expires in: ' + expiresIn);
              $('#user').append('<br/> signed request: ' + signedRequest); 

              FB.api('/me', function (user) {
                console.log(user);
                console.log(user.name);
                console.log(user.first_name);
                console.log(user.last_name);
                console.log(user.email);
                console.log(user.feed);
                console.log(user.permissions);
                $('#welcome').append('Hello ' + user.name);
                $('#me').append('Email:' + user.email);
                $('#me').append('<br/>Likes:' + user.likes);
                

              });

              FB.api('/me/permissions', function (response) {
                  console.log(response);
              } );

              FB.api('/me/likes', function (response) {
                  console.log(response);
              } );

               FB.api('/me/feed', function (response) {
                  console.log(response);
                  var feed = response;
                  $('#me').append( function() {
                    for (var i = 0; i < feed.length; i++) {
                      $('#feed').append('<li>' + feed[i] + '</li>');
                    }
                  });
              } );



            } else if (response.status === 'not_authorized') {
              // the user is logged in to Facebook, 
              // but has not authenticated your app
              console.log('app not authorised');
            } else {
              // the user isn't logged in to Facebook.
              console.log('not logged in to Facebook');
            }
           });
      
      });


  });          




</script>

<h1>JS SDK App</h1>
<h2 id="welcome"></h2>
<h2 id="me"></h2>

<p id="user"></p>
<ul id="feed"></p>
<p id="status"></p>

<button id="getStarted" >Log in</button>
<button id="logOut" >Logout</button>

