<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '213223128832848',                        // App ID from the app dashboard
      channelUrl : '//www.radiant-island-4482.herokuapp.com/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
    $(document).trigger('fbload');
  
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


  $(document).on('fbload',  //  <---- HERE'S OUR CUSTOM EVENT BEING LISTENED FOR
    function(){
      $.ajaxSetup({ cache: true });
      $.getScript('//connect.facebook.net/en_UK/all.js', function(){
        // FB.init({
        //   appId: '213223128832848',
        //   channelUrl: '//www.radiant-island-4482.herokuapp.com/channel.html',
        // });     
        $('#loginbutton,#feedbutton').removeAttr('disabled');
        $("#getStarted").on('click', function() {

          FB.login(function(response){
            alert('Logged in');
          });

          FB.logout(function(response){
            alert('Logged out');
          });


        });
      
      });


  });          




</script>

<h1>JS SDK App</h1>

<button id="getStarted" >Get Started</button>
<button id="logOut" >Logout</button>

